.ft-header {
  padding: 10rem 0 8rem;
}

.ft-header--focussed {
  padding: 7rem 0 4rem;
}

.ft-portfolio {
  padding-top: 3.6rem;
  padding-bottom: 5.4rem;
}

.ft-about,
.ft-contact {
  padding: 5.4rem 0;
}

.ft-card {
  margin-top: 2.7rem;
}

.ft-card__img {
  height: 18rem;
}

.ft-project-title,
.ft-media-item-title {
  margin-top: 2.7rem;
  font-size: 1.5rem;
}

.ft-project-img,
.ft-media-item__img {
  width: 100%;
  height: auto;
}

.ft-project-img--multiple {
  margin-top: .9rem;
}

.ft-project-vid {
  width: 100%;
}

.ft-project-copy,
.ft-media-item-copy {
  margin-top: .9rem;
}

.ft-project-item,
.ft-comic-item,
.ft-publications-item,
.ft-artwork-item,
.ft-photography-item, 
.ft-media-item {
  padding: 5.4rem 0;
}

.ft-project-item--alt,
.ft-media-item--alt {
  background-color: #f3f3f3;
}

.ft-comic-item__img {
  width: 100%;
  margin-top: 1.8rem;
}

.ft-publications-item__list {
  margin-top: .9rem;
}

.ft-artwork-item__container,
.ft-photography-item__container {
  -webkit-column-count: 1;
  -webkit-column-gap:   0px;
  -moz-column-count:    1;
  -moz-column-gap:      0px;
  column-count:         1;
  column-gap:           0px; 
}

.ft-artwork-item__img,
.ft-photography-item__img {
  width: 100% !important;
  height: auto !important;
}

@media screen and (min-width: 768px) {
  
  .ft-project-title,
  .ft-media-item-title {
    font-size: 2rem;
  }
  
  .ft-card__img {
    height: 9rem;
  }

  .ft-artwork-item__container,
  .ft-photography-item__container {
    -webkit-column-count: 2;
    -webkit-column-gap:   0px;
    -moz-column-count:    2;
    -moz-column-gap:      0px;
    column-count:         2;
    column-gap:           0px; 
  }

}

@media screen and (min-width: 1024px) {

  .ft-artwork-item__container,
  .ft-photography-item__container {
    -webkit-column-count: 3;
    -webkit-column-gap:   0px;
    -moz-column-count:    3;
    -moz-column-gap:      0px;
    column-count:         3;
    column-gap:           0px; 
  }
  
  .ft-card__img {
    height: 12rem;
  }
}